/* google fonts*/
/*font-family: 'Raleway', sans-serif;*/


/* google fonts */


/* ---------------header ----------*/
header h1{color: white; font-size: 40px; }
header a i { font-size: 35px; color: white;}
header a i:hover{color: red;}
header a {display: inline-block;
margin: 0px 10px;}




/* ---comienzo nav ----*/
body nav ul li a:hover{color: red; background-color: white; padding: 5px;}
body nav ul li a {color: white; padding: 5px;}

header nav ul li{ display: inline-block; margin: 0px 50px 0px 0px ;
position: sticky;}



/* ---fin nav ----*/







/* ---------------header ----------*/

/* ---comienzo article ----*/
.resultados {background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.76234243697479) 35%, rgba(0,164,255,1) 100%);}



/* ---fin article ----*/

table{border: 2px solid;
    background-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
border-style: dashed;}



   

a{ text-decoration: none;}



body{font-family: 'Raleway', sans-serif; color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,164,255,1) 100%);
    margin: 0px; 
}

article h2{ text-align: center;}

ul { font-weight: bold;
    list-style-type: none}



    /* ---------------Main Plantilla ----------*/
    
    body main h5 {font-weight: bolder; font-size: 20px;}

    body main p {font-weight: bold ; color: red;}







    /* ---------------Main Plantilla ----------*/


    /* ---------------Main noticias ----------*/
body main p {color: white;}

body main h6 {font-size: 25px;
text-align: center;}

    /* ---------------Main noticias ----------*/







 /* ---------------footer ----------*/

footer p { font-weight:bold;}
footer{ background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
;}


footer a i {font-size: 35px;
color: white;
display: inline-block;
position: 0 15px;}

footer a i:hover{color: red;} 

footer ul li {display: inline-block; margin: 5px; padding: 4px;}

body footer ul li :hover{color: red; background-color: white}

footer ul li a {color: white;}



/* ---------------footer ----------*/


















